.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  margin-bottom: 30px;
  box-shadow: $box-shadow;
}
.dropdown-menu {
  box-shadow: $box-shadow;
}
.cursor-pointer {
  cursor: pointer;
}
.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
  &.md-box {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
}
.button-group .btn {
  margin: 3px;
}
.btn-white {
  border: 1px solid $border-color;
}
.simplebar-scrollbar:before {
  background: #a0a0a0;
}
.apexcharts-toolbar {
  z-index: 0 !important;
}

.notif-dot {
  top: 25%;
  left: 70%;
  width: 6px;
  height: 6px;
  background: #dc3545;
}

.user-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  .user-center {
    position: static;
    transform: none;
    margin: 0 auto;
  }
}

.cancel-button {
  background-color: #F5F5F5;       
  color: #5a5a5a;                 
  border: 1px solid #6c757d;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  border: 1px solid #D3D3D3;
  &:hover {
    background-color: #e2e6ea;   
    color: #343a40;
    border-color: #D3D3D3;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25); 
  }
}

.submit-button {
  background-color: #04413F;
  color: #F5F5F5;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: darken(#04413F, 5%); 
    color: #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(4, 65, 63, 0.4); 
  }
}

.reopen-button {
  background-color: #04413F75;
  color: #F5F5F5;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: darken(#097e7a, 5%); 
    color: #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(4, 65, 63, 0.4); 
  }
}

.submit-delete-button {
  background-color: #dc3545; 
  color: #F5F5F5;
  padding: 0.375rem 2.2rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: none;
  transition: all 0.15s ease-in-out;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  &:hover {
    background-color: darken(#dc3545, 5%);
    color: #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.4);
  }
}

.custom-input {
  border: 1px solid #ced4da;
  &:hover {
    border-color: #1A9CA1;
  }
  &:focus {
    border-color: #1A9CA1;
    box-shadow: 0 0 0 0.25rem rgba(26, 156, 161, 0.4);
  }
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(26,156,161,0.4);
  border-color: #1A9CA1;
}

input[type="radio"]:checked {
  background-color: #1A9CA1;
  border-color: #1A9CA1;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(26,156,161,0.4);
  border-color: #1A9CA1;
}

input[type="checkbox"]:checked {
  background-color: #1A9CA1;
  border-color: #1A9CA1;
}

.icon-default{
  font-size: 1rem;
}

.filter-button {
  background-color: #2B9593;
  color: #F5F5F5;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: none;
  display: inline-flex; 
  align-items: center;
  gap: 0.5rem; 
  transition: all 0.15s ease-in-out;
}

.filter-button:hover {
  background-color: #278683; 
  color: #ffffff;
}

.filter-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(43, 149, 147, 0.4);
}

.clear-button {
  background-color: transparent;
  color: #2B9593;        
  border: 0.5px solid #2B9593; 
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.clear-button:hover {
  background-color: #2B9593;
  color: #ffffff; 
}

.clear-button:focus {
  outline: none;
}
