.Toastify__toast {
  padding: 12px 14px !important;  
  min-height: auto;             
  border-radius: 6px;           
}


.Toastify__toast-icon {
  margin-right: 8px;   
}

.Toastify__toast--success { background: #1A9CA1 !important; }
.Toastify__toast--info    { background: #1A9CA1 !important; }
.Toastify__toast--error   { background: #f62d51 !important; }
.Toastify__toast--warning { background: #ffbc34 !important; }

.Toastify__progress-bar--success,
.Toastify__progress-bar--info {
  background: rgba(255, 255, 255, 0.9) !important;
}