.navbar {
    background-color: #0ABABA;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 35px;
    position: fixed;
    top: 20px;
    left: 180px;
    width: 88%;
    z-index: 3;
    height: 65px;
    overflow-y: hidden;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.expanded {
    width: 83%;
    left: 275px;
}

.show {
    transform: translateY(0);
  }
  
  .hide {
    transform: translateY(100%);
  }

.navbarList {
    display: flex;
    list-style: none;
    margin: 0 0 2px 0;
    padding: 0;
    gap: 30px;
}

.navbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-top: 10px;
    border-radius: 30px;
    height: 40px;
    background-color: #E4E4E4;
    width: 40px;
    cursor: pointer;
    
}

.navbarItem1  {
    height: 60px;
    margin-right: 40px;
    cursor: pointer;
}
.navbarItem1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #000000;
    gap: 10px;
}

.letter {
    line-height: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    gap: 10px;
    margin-top: 12px;
}

.letter h3 {
    font-size: 18px;
    line-height: 5px;
    margin: 0;
}

.letter p {
    font-size: 10px;
    margin: 0;
}


.modalContainer {
    position: fixed; 
    top: 70px; 
    right: -70px;

    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    border-radius: 8px;
    z-index: 5; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
    width: 250px;
    /* height: 110px; */
    height: 100px;
  }

  .containerExpanded {
    /* height: 170px; */
     height: fit-content;
  }

  .modalText {
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #727272;
  }

  .modalText:hover {
    color: #fff;
    background-color: #1FCEC9;
  }

  .modalText2 {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }

  .modalText2:hover {
    color: #fff;
    background-color: #1FCEC9;
  }

  .modalContainer2 {
    position: fixed; 
    top: 70px; 
    right: 60px;

    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    border-radius: 8px;
    z-index: 5; 
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 5px; 
    width: 345px;
    height: 300px;
  }

.navbarSideButton {
    display: none;
  }


.alert_number{
  position: relative;
}  

.alert_number_position{
   background-color: red;
   color: #fff;
   border-radius: 100%;
   font-size: 14px;
   padding-left: 6px;
   padding-right: 6px;
   width: fit-content;
   height: 20px;
   text-align: center;
   position: absolute; 
   top: 5px;
   left: -4px;
}

.checkButton{
    width: 5px;
    background-color: white;
}

.checkButton:checked{
    background-color: #009E8B;
    border-color: green;
}


@media(max-width: 575px){
  .navbar {
     background-color: #0ABABA;
     display: flex;
     justify-content: space-between;
     align-items: space-between;
     border-radius: 35px;
     position: fixed;
     top: 20px;
     left: 10px;
     width: 93%;
     z-index: 3;
     height: 65px;
     overflow-y: hidden;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);      
  }

  .navbarSideButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 65px;
    background-color: #008080;
    width: 65px;
    cursor: pointer;   
  }

  .imageLogo {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    width: 40px;
    height: 40px;
    margin: 0;
    background-image: url("../../../public/logo.svg");
    background-size: 100% 100%;
  }

  .navbarList {
     display: flex;
     list-style: none;
     margin: 0 0 2px 0;
     padding: 0;
     gap: 22px;
  }

  .navbarItem1  {
     height: 60px;
     margin-right: 25px;
     cursor: pointer;
     display: flex;
     align-items: center;
     margin-left: 5px;
     color: #000000;
     gap: 10px;
  }

  .letter {
     display: none;
  }

  .letter2 {
    line-height: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    gap: 10px;
    margin-top: 12px;
    margin-left: 70px;
    margin-bottom: 10px;
  }
  
  .letter2 h3 {
    font-size: 20px;
    line-height: 5px;
    margin: 0;
  }
  
  .letter2 p {
    font-size: 12px;
    margin: 0;
  }

  .modalContainer {
    position: fixed; 
    top: 70px; 
    right: -90px;
  
    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    border-radius: 8px;
    z-index: 5; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
    width: 250px;
    height: fit-content;
  }

  .containerExpanded {
    /* height: 170px; */
     height: fit-content;
  }

  .modalContainer2 {
    position: fixed; 
    top: 70px; 
    right: -3%;
  
    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    border-radius: 8px;
    z-index: 5; 
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 5px; 
    width: 175px;
    height: 450px;
  }
    
}