.header {
    display: flex;
    padding-right: 20px;
    /* margin-left: 20px;  */
    border-bottom: 1px solid #727272;
    background-color: transparent;
    width: 95%;
    /* margin: 0 35px; */
    justify-content: space-between;
}
  
.header_h1 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 500;
    line-height: 1.2;
}
  
.header_button {
    cursor: pointer;
    height: 45px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #009E8B;
    color: white;
    transition: transform 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.68);
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.header_button:hover {
    background-color: #009E8B;
    transform: scale(1.05);
}

.accordionTitle{
    font-size: 1.5rem;
}

.accordionSubTitle{
    font-size: 1.25rem;
}

.radioButton{
    background-color: white;
}

.radioButton:checked{
    background-color: #009E8B;
    border-color: green;
}

/*------------------------------------*/

.balloon_div{
  position: relative;
}  

.button {
  background-color: #009E8B; 
  width: 45px; 
  height: 45px;
  display: flex;
  align-items: center ;
  justify-content: center;
}


.button:hover {
   background-color: #008576; 
}

.balloon_aviso_div {
   display: none;
   position: absolute; 
   align-items: center;
   justify-content: center;
   top: -32px;
   width: 100%;
}

.button:hover + .balloon_aviso_div {
  display: flex;
}


.balloon_aviso_border { 
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid;
  background-color: #f3fff1;
  border-color: #b9edb1;
}

.balloon_aviso_text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Archivo-Light", Helvetica;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 14px;
  white-space: nowrap;
  color: #299c16;
}

/*------------------------------------*/

.archiveFormLink{
    color: #1FCEC9;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
}

.archiveFormLink a{
    text-decoration: none;
    color: #1FCEC9;
}

.archiveFormLink a:hover{
    color: #009E8B;
}

.archiveFormButtonGreen{
    cursor: pointer;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: 44px;
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .7px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    color: #009E8B;
    border: 1px solid;
    border-color: #009E8B;
}

/*------------------------------------*/

.accordion {
  --bs-accordion-btn-color:  black;
  --bs-accordion-btn-bg: #ddffff;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: #ddffff;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 0;
}

/*------------------------------------*/

@media(max-width: 575px){

   .header {
       display: flex;
       padding-right: 20px;
       border-bottom: 1px solid #727272;
       background-color: transparent;
       width: 95%;
       justify-content: space-between;
       flex-wrap: wrap;
   }

   .header_h1 {
       color: #000000;
       font-family: 'Roboto', sans-serif;
       font-size: 30px;
       font-style: normal;
       margin-top: 15px;
       margin-bottom: 10px;
       margin-left: 20px;
       font-weight: 500;
       line-height: 1.2;
   }

   .header_button {
       cursor: pointer;
       height: 45px;
       width: 200px;
       margin-left: 50%;
       margin-top: 20px;
       margin-bottom: 10px;
       border-radius: 10px;
       background-color: #009E8B;
       color: white;
       transition: transform 0.5s ease;
       border: 1px solid rgba(255, 255, 255, 0.68);
       padding: 10px;
       font-size: 1rem;
       font-weight: 500;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 10px;
   }

}
  