.radioButton{
    background-color: white;
}

.radioButton:checked{
    background-color: #009E8B;
    border-color: green;
}

.archiveFormGroup{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

.archiveFormLink{
    flex: 1;
    color: #1FCEC9;
    font-size: 1.125rem;
}

.archiveFormLink a{
    text-decoration: none;
    color: #1FCEC9;
}

.archiveFormLink a:hover{
    color: #009E8B;
}

.archiveFormButtons{
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.archiveFormButtonGreen{
    cursor: pointer;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: 44px;
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .7px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    color: #009E8B;
    border: 1px solid;
    border-color: #009E8B;
}

.archiveFormButtonRed{
    cursor: pointer;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: 44px;
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .7px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    color: #e32c2c;
    border: 1px solid;
    border-color: #e32c2c;
}

/* Perfil */

.permissions_title{
    position: relative;
    width: 100%;
    height: 40px;
    color: #04a5a5;
    font-size: 16px;
    font-weight: 700;
    /* font-family: Archivo, sans-serif; */
    letter-spacing: .04em;
    outline: 1px solid #c1c1c1;
    outline-offset: -1px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
}

.permissions_search_bar {
    position: relative;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border: solid 1px #c1c1c1;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  
   /*  background-image: url("../../../public/newDesign/vuesax-linear-search-grey.svg");
    background-repeat: no-repeat;
    background-position: right; */
}

.permissions_options {
    position: relative;
    width: 100%;
    height: 200px;
    border: solid 1px #c1c1c1;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: scroll;
}

.permissions_options_p {
    color: #000000b2;
    font-size: 14px;
   /*  font-family: "Fira Sans-Regular", Helvetica; */
    letter-spacing: 0.04em;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .permissions_options_p_selected {
    color: #000000b2;
    font-size: 14px;
    /* font-family: "Fira Sans-Regular", Helvetica; */
    letter-spacing: 0.04em;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #c1c1c1;
  }

  @media(max-width: 628px){
  .archiveFormGroup{
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 20px;
  }
}

@media(max-width: 575px){

    .asset_header {
       display: flex;
       padding-right: 20px;
       border-bottom: 1px solid #727272;
       background-color: transparent;
       width: 95%;
       justify-content: space-between;
       flex-wrap: wrap;
    }

   .asset_header_h1 {
       color: #000000;
       font-family: 'Roboto', sans-serif;
       font-size: 35px;
       font-style: normal;
       margin-top: 15px;
       margin-bottom: 10px;
       margin-left: 40px;
       font-weight: 500;
       line-height: 1.2;
   }
}
  